# Copyright 2018-2020 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that provides the Open Liberty runtime"
  homepage = "https://github.com/paketo-buildpacks/open-liberty"
  id = "paketo-buildpacks/open-liberty"
  keywords = ["java", "javaee", "open-liberty"]
  name = "Paketo Open Liberty Buildpack"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/vnd.syft+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/open-liberty/blob/main/LICENSE"

[metadata]
  include-files = [
    "LICENSE",
    "NOTICE",
    "README.md",
    "bin/build",
    "bin/detect",
    "bin/main",
    "bin/helper",
    "buildpack.toml",
    "templates/app.tmpl"
  ]
  pre-package = "scripts/build.sh"

  [[metadata.configurations]]
    build = true
    description = "Install type of Liberty. Valid options: 'ol' and 'none'"
    default = "ol"
    launch = false
    name = "BP_OPENLIBERTY_INSTALL_TYPE"

  [[metadata.configurations]]
    build = true
    default = "21"
    description = "Which version of the Open Liberty runtime to install. Defaults to latest supported version"
    launch = false
    name = "BP_OPENLIBERTY_VERSION"

  [[metadata.configurations]]
    build = true
    description = "the SHA256 hash of the external configuration archive"
    name = "BP_OPENLIBERTY_EXT_CONF_SHA256"

  [[metadata.configurations]]
    build = true
    default = "0"
    description = "the number of directory components to strip from the external configuration archive"
    name = "BP_OPENLIBERTY_EXT_CONF_STRIP"

  [[metadata.configurations]]
    build = true
    description = "the download location of the external configuration"
    name = "BP_OPENLIBERTY_EXT_CONF_URI"

  [[metadata.configurations]]
    build = true
    description = "the version of the Tomcat configuration"
    name = "BP_OPENLIBERTY_EXT_CONF_VERSION"

  [[metadata.configurations]]
    build = true
    default = "full"
    description = "The Liberty profile to install. Current options are 'full', 'javaee8', 'webProfile8', 'microProfile4', and 'kernel'"
    launch = false
    name = "BP_OPENLIBERTY_PROFILE"

  [[metadata.configurations]]
    build = false
    default = ""
    description = "If the [server.xml](#bindings) does not have an [application](https://openliberty.io/docs/latest/reference/config/application.html) named `app` defined, Open Liberty will use this value as the context root. Defaults to the value of `/`"
    launch = true
    name = "BP_OPENLIBERTY_CONTEXT_ROOT"

  [[metadata.configurations]]
    build = false
    default = ""
    description = "Sets the logging level. If not set, attempts to get the buildpack's log level. If unable, defaults to `INFO`"
    launch = true
    name = "BPL_OPENLIBERTY_LOG_LEVEL"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:ibm:liberty:21.0.0.11:*:*:*:*:*:*:*:*"]
    id = "open-liberty-runtime-full"
    name = "Open Liberty (All Features)"
    purl = "pkg:generic/ibm-open-libery-runtime-full@21.0.0.11?arch=amd64"
    sha256 = "27c2c2f8844279fef0e10b361a04ebfbdf15f46843eab58bd9f8039decbcd010"
    stacks = ["io.buildpacks.stacks.bionic", "*"]
    uri = "https://public.dhe.ibm.com/ibmdl/export/pub/software/openliberty/runtime/release/2021-10-19_1900/openliberty-21.0.0.11.zip"
    version = "21.0.0"

    [[metadata.dependencies.licenses]]
      type = "EPL-1.0"
      uri = "https://raw.githubusercontent.com/OpenLiberty/open-liberty/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:ibm:liberty:21.0.0.11:*:*:*:*:*:*:*:*"]
    id = "open-liberty-runtime-javaee8"
    name = "Open Liberty (Java EE8)"
    purl = "pkg:generic/ibm-open-libery-runtime-javaee8@21.0.0.11?arch=amd64"
    sha256 = "1365a0fc00e1ac2d28ecea382b03535dd40ed4449d6ccb3c88617f4cb3c40051"
    stacks = ["io.buildpacks.stacks.bionic", "*"]
    uri = "https://public.dhe.ibm.com/ibmdl/export/pub/software/openliberty/runtime/release/2021-10-19_1900/openliberty-javaee8-21.0.0.11.zip"
    version = "21.0.0"

    [[metadata.dependencies.licenses]]
      type = "EPL-1.0"
      uri = "https://raw.githubusercontent.com/OpenLiberty/open-liberty/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:ibm:liberty:21.0.0.11:*:*:*:*:*:*:*:*"]
    id = "open-liberty-runtime-webProfile8"
    name = "Open Liberty (Web Profile 8)"
    purl = "pkg:generic/ibm-open-libery-runtime-webProfile8@21.0.0.11?arch=amd64"
    sha256 = "1bb90d605ecd464b1cddb72ff788fda74d5c5a7cca2e6728021fb19bf2cfa231"
    stacks = ["io.buildpacks.stacks.bionic", "*"]
    uri = "https://public.dhe.ibm.com/ibmdl/export/pub/software/openliberty/runtime/release/2021-10-19_1900/openliberty-webProfile8-21.0.0.11.zip"
    version = "21.0.0"

    [[metadata.dependencies.licenses]]
      type = "EPL-1.0"
      uri = "https://raw.githubusercontent.com/OpenLiberty/open-liberty/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:ibm:liberty:21.0.0.11:*:*:*:*:*:*:*:*"]
    id = "open-liberty-runtime-microProfile4"
    name = "Open Liberty (Micro Profile 4)"
    purl = "pkg:generic/ibm-open-libery-runtime-microProfile4@21.0.0.11?arch=amd64"
    sha256 = "9da317fe28f8cf66009075ab5d114de362a170f2fcef911b2434d5192f50f264"
    stacks = ["io.buildpacks.stacks.bionic", "*"]
    uri = "https://public.dhe.ibm.com/ibmdl/export/pub/software/openliberty/runtime/release/2021-10-19_1900/openliberty-microProfile4-21.0.0.11.zip"
    version = "21.0.0"

    [[metadata.dependencies.licenses]]
      type = "EPL-1.0"
      uri = "https://raw.githubusercontent.com/OpenLiberty/open-liberty/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:ibm:liberty:21.0.0.11:*:*:*:*:*:*:*:*"]
    id = "open-liberty-runtime-kernel"
    name = "Open Liberty (Kernel)"
    purl = "pkg:generic/ibm-open-libery-runtime-kernel@21.0.0.11?arch=amd64"
    sha256 = "f5448f4fceb6c22dcd44a7be3b3be3af579ff72ac1aa0e6c7f2a4f84a8e14e33"
    stacks = ["io.buildpacks.stacks.bionic", "*"]
    uri = "https://public.dhe.ibm.com/ibmdl/export/pub/software/openliberty/runtime/release/2021-10-19_1900/openliberty-kernel-21.0.0.11.zip"
    version = "21.0.0"

    [[metadata.dependencies.licenses]]
      type = "EPL-1.0"
      uri = "https://raw.githubusercontent.com/OpenLiberty/open-liberty/master/LICENSE"

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "*"
