# Copyright 2018-2022 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that provides the Open Liberty and WebSphere Liberty runtimes."
  homepage = "https://github.com/paketo-buildpacks/liberty"
  id = "paketo-buildpacks/liberty"
  keywords = ["java", "javaee", "liberty"]
  name = "Paketo Liberty Buildpack"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/vnd.syft+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/liberty/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "bin/build", "bin/detect", "bin/main", "bin/helper", "buildpack.toml", "templates/app.tmpl", "templates/features.tmpl"]
  pre-package = "scripts/build.sh"

  [[metadata.configurations]]
    build = true
    default = "ol"
    description = "Install type of Liberty. Valid options: 'ol' and 'none'"
    launch = false
    name = "BP_LIBERTY_INSTALL_TYPE"

  [[metadata.configurations]]
    build = true
    default = "*"
    description = "Which version of the Liberty runtime to install. Defaults to latest supported version"
    launch = false
    name = "BP_LIBERTY_VERSION"

  [[metadata.configurations]]
    build = true
    description = "The SHA256 hash of the external configuration archive"
    name = "BP_LIBERTY_EXT_CONF_SHA256"

  [[metadata.configurations]]
    build = true
    default = "0"
    description = "The number of directory components to strip from the external configuration archive. Defaults to 0"
    name = "BP_LIBERTY_EXT_CONF_STRIP"

  [[metadata.configurations]]
    build = true
    description = "The download location of the external configuration"
    name = "BP_LIBERTY_EXT_CONF_URI"

  [[metadata.configurations]]
    build = true
    description = "The version of the Liberty configuration"
    name = "BP_LIBERTY_EXT_CONF_VERSION"

  [[metadata.configurations]]
    build = true
    default = "full"
    description = "The Liberty profile to install. Current options are 'full', 'jakartaee9', 'javaee8', 'webProfile9', 'webProfile8', 'microProfile5', 'microProfile4', 'microProfile3', and 'kernel'"
    launch = false
    name = "BP_LIBERTY_PROFILE"

  [[metadata.configurations]]
    build = true
    default = "defaultServer"
    description = "Name of the server to use. Defaults to defaultServer"
    launch = true
    name = "BP_LIBERTY_SERVER_NAME"

  [[metadata.configurations]]
    build = false
    default = ""
    description = "If the server.xml does not have an application named `app` defined, Liberty will use this value as the context root. Defaults to the value of `/`."
    launch = true
    name = "BP_LIBERTY_CONTEXT_ROOT"

  [[metadata.configurations]]
    build = false
    default = ""
    description = "Sets the logging level. If not set, attempts to get the buildpack's log level. If it is unable to, it defaults to `INFO`"
    launch = true
    name = "BPL_LIBERTY_LOG_LEVEL"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:ibm:websphere_application_server:22.0.0.2:*:*:*:liberty:*:*:*"]
    id = "open-liberty-runtime-full"
    name = "Open Liberty (All Features)"
    purl = "pkg:maven/io.openliberty/openliberty-runtime@22.0.0.2"
    sha256 = "21d1a1e6014f000e4ea9fd357fa7863cfd15bd837115fc111593ce524354f2d2"
    stacks = ["io.buildpacks.stacks.bionic", "*"]
    uri = "https://repo1.maven.org/maven2/io/openliberty/openliberty-runtime/22.0.0.2/openliberty-runtime-22.0.0.2.zip"
    version = "22.0.2"

    [[metadata.dependencies.licenses]]
      type = "EPL-1.0"
      uri = "https://raw.githubusercontent.com/OpenLiberty/open-liberty/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:ibm:websphere_application_server:22.0.0.2:*:*:*:liberty:*:*:*"]
    id = "open-liberty-runtime-jakartaee9"
    name = "Open Liberty (Jakarta EE9)"
    purl = "pkg:maven/io.openliberty/openliberty-jakartaee9@22.0.0.2"
    sha256 = "f8b3dbc7101ef7a6b746c4daa372d69d3ae608e6cd2a6a21b7627840da80e48e"
    stacks = ["io.buildpacks.stacks.bionic", "*"]
    uri = "https://repo1.maven.org/maven2/io/openliberty/openliberty-jakartaee9/22.0.0.2/openliberty-jakartaee9-22.0.0.2.zip"
    version = "22.0.2"

    [[metadata.dependencies.licenses]]
      type = "EPL-1.0"
      uri = "https://raw.githubusercontent.com/OpenLiberty/open-liberty/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:ibm:websphere_application_server:22.0.0.2:*:*:*:liberty:*:*:*"]
    id = "open-liberty-runtime-javaee8"
    name = "Open Liberty (Java EE8)"
    purl = "pkg:maven/io.openliberty/openliberty-javaee8@22.0.0.2"
    sha256 = "71cecb2356f6dbb97631b207990f5e7ddc136a199ecb149fee0286807ea8cb0c"
    stacks = ["io.buildpacks.stacks.bionic", "*"]
    uri = "https://repo1.maven.org/maven2/io/openliberty/openliberty-javaee8/22.0.0.2/openliberty-javaee8-22.0.0.2.zip"
    version = "22.0.2"

    [[metadata.dependencies.licenses]]
      type = "EPL-1.0"
      uri = "https://raw.githubusercontent.com/OpenLiberty/open-liberty/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:ibm:websphere_application_server:22.0.0.2:*:*:*:liberty:*:*:*"]
    id = "open-liberty-runtime-webProfile9"
    name = "Open Liberty (Web Profile 9)"
    purl = "pkg:maven/io.openliberty/openliberty-webProfile9@22.0.0.2"
    sha256 = "ec52c60fac7b2ade706b5c173c93348836c6a925d4f5d901790466125b66205a"
    stacks = ["io.buildpacks.stacks.bionic", "*"]
    uri = "https://repo1.maven.org/maven2/io/openliberty/openliberty-webProfile9/22.0.0.2/openliberty-webProfile9-22.0.0.2.zip"
    version = "22.0.2"

    [[metadata.dependencies.licenses]]
      type = "EPL-1.0"
      uri = "https://raw.githubusercontent.com/OpenLiberty/open-liberty/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:ibm:websphere_application_server:22.0.0.2:*:*:*:liberty:*:*:*"]
    id = "open-liberty-runtime-webProfile8"
    name = "Open Liberty (Web Profile 8)"
    purl = "pkg:maven/io.openliberty/openliberty-webProfile8@22.0.0.2"
    sha256 = "51cc61b340a81b3cddb5fc34291b980cd5e5aa9cc83b9f7674e6f27e98fd67dc"
    stacks = ["io.buildpacks.stacks.bionic", "*"]
    uri = "https://repo1.maven.org/maven2/io/openliberty/openliberty-webProfile8/22.0.0.2/openliberty-webProfile8-22.0.0.2.zip"
    version = "22.0.2"

    [[metadata.dependencies.licenses]]
      type = "EPL-1.0"
      uri = "https://raw.githubusercontent.com/OpenLiberty/open-liberty/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:ibm:websphere_application_server:22.0.0.2:*:*:*:liberty:*:*:*"]
    id = "open-liberty-runtime-microProfile5"
    name = "Open Liberty (Micro Profile 5)"
    purl = "pkg:maven/io.openliberty/openliberty-microProfile5@22.0.0.2"
    sha256 = "4c2a8f92fda366a3d15aa76884ead21e6a135a0dee9b249e7ef40e4258834d03"
    stacks = ["io.buildpacks.stacks.bionic", "*"]
    uri = "https://repo1.maven.org/maven2/io/openliberty/openliberty-microProfile5/22.0.0.2/openliberty-microProfile5-22.0.0.2.zip"
    version = "22.0.2"

    [[metadata.dependencies.licenses]]
      type = "EPL-1.0"
      uri = "https://raw.githubusercontent.com/OpenLiberty/open-liberty/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:ibm:websphere_application_server:22.0.0.2:*:*:*:liberty:*:*:*"]
    id = "open-liberty-runtime-microProfile4"
    name = "Open Liberty (Micro Profile 4)"
    purl = "pkg:maven/io.openliberty/openliberty-microProfile4@22.0.0.2"
    sha256 = "ce66fd2dd4729dce0e5b6a35355220005b74a11b62c959e958497cd59cd278fe"
    stacks = ["io.buildpacks.stacks.bionic", "*"]
    uri = "https://repo1.maven.org/maven2/io/openliberty/openliberty-microProfile4/22.0.0.2/openliberty-microProfile4-22.0.0.2.zip"
    version = "22.0.2"

    [[metadata.dependencies.licenses]]
      type = "EPL-1.0"
      uri = "https://raw.githubusercontent.com/OpenLiberty/open-liberty/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:ibm:liberty:21.0.2:*:*:*:*:*:*:*:*"]
    id = "open-liberty-runtime-microProfile3"
    name = "Open Liberty (Micro Profile 3)"
    purl = "pkg:maven/io.openliberty/openliberty-microProfile3@21.0.2.2"
    sha256 = "0945661bb2492057a86b7e57c37d812e0e57df155a4b9d52b3b560c17778d470"
    stacks = ["io.buildpacks.stacks.bionic", "*"]
    uri = "https://repo1.maven.org/maven2/io/openliberty/openliberty-microProfile3/21.0.0.2/openliberty-microProfile3-21.0.0.2.zip"
    version = "21.0.2"

    [[metadata.dependencies.licenses]]
      type = "EPL-1.0"
      uri = "https://raw.githubusercontent.com/OpenLiberty/open-liberty/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:ibm:websphere_application_server:22.0.0.2:*:*:*:liberty:*:*:*"]
    id = "open-liberty-runtime-kernel"
    name = "Open Liberty (Kernel)"
    purl = "pkg:maven/io.openliberty/openliberty-kernel@22.0.0.2"
    sha256 = "e7c39600e0d5751588761fd0cc4dbe74d64b5a8e56f0707614e528139c7ec583"
    stacks = ["io.buildpacks.stacks.bionic", "*"]
    uri = "https://repo1.maven.org/maven2/io/openliberty/openliberty-kernel/22.0.0.2/openliberty-kernel-22.0.0.2.zip"
    version = "22.0.2"

    [[metadata.dependencies.licenses]]
      type = "EPL-1.0"
      uri = "https://raw.githubusercontent.com/OpenLiberty/open-liberty/master/LICENSE"

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "*"
